.addedProductModal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100vw;
  height: 100vh;
  background-color: rgba(8, 65, 84, 0.62);

  display: flex;
  align-items: center;
  justify-content: center;

  .messageBox {
    width: 25rem;
    height: 31.25rem;
    background-color: var(--white);

    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .closeBtn {
      position: absolute;
      top: 1rem;
      right: 1rem;
      cursor: pointer;
    }

    span {
      margin-top: 9.06rem;
      width: 100%;
      height: 1px;
      background-color: var(--dark-blue);
    }

    p {
      width: 15.3rem;
      padding: 0 0.7rem;
      margin-top: -4rem;
      background-color: var(--white);
      text-align: center;
      font-weight: 300;
      font-size: 1.875rem;
      color: var(--dark-blue);
    }

    img:not(.closeBtn) {
      width: 13.56rem;
      height: 17.43rem;
      margin-bottom: -0.85rem;
    }
  }
}
