* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
}

:root {
  scroll-behavior: smooth;

  --white: #fff;
  --gray: rgba(235, 235, 235, 1);
  --blue: rgba(62, 198, 224, 1);
  --dark-blue: rgba(8, 65, 84, 1);
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%; //15px
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%; //14px
  }
}

body {
  background-color: var(--white);
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
}

.ds-none {
  display: none !important;
}
