* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
}

:root {
  scroll-behavior: smooth;

  --white: #fff;
  --gray: rgba(235, 235, 235, 1);
  --blue: rgba(62, 198, 224, 1);
  --dark-blue: rgba(8, 65, 84, 1);
}

body {
  background-color: var(--white);
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
}

.ds-none {
  display: none !important;
}
